<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qx.www.shuang_la_master"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>

        <service android:name=".service.UpdateService"/>

        <activity android:name=".activity.DetilActivity">
        </activity>
        <activity android:name=".activity.MoreActivity">
        </activity>
        <activity android:name=".activity.ZiLiaoActivity">
        </activity>
        <activity android:name=".activity.PhoneBindActivity">
        </activity>
        <activity android:name=".activity.MakeMonneyActivity">
        </activity>
        <activity android:name=".activity.ShouTuActivity">
        </activity>
    </application>

</manifest>