<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qx.www.shuang_la_master"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!-- renren sso Permission for Unit Test -->
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".application.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".MainActivity"/>

        <service android:name=".service.UpdateService"/>

        <activity android:name=".activity.DetilActivity">
        </activity>
        <activity android:name=".activity.MoreActivity">
        </activity>
        <activity android:name=".activity.ZiLiaoActivity">
        </activity>
        <activity android:name=".activity.PhoneBindActivity">
        </activity>
        <activity android:name=".activity.ShouTuActivity">
        </activity>
        <activity android:name=".activity.AllianceActivity">
        </activity>
        <activity android:name=".activity.MakeMoneyCenterActivity">
        </activity>
        <activity android:name=".activity.GaoeRenwuActivity">
        </activity>
        <activity android:name=".activity.NewGuyActivity">
        </activity>
        <activity android:name=".activity.TixianActivity">
        </activity>
        <activity
            android:name=".activity.WeiXinActivity"
            android:windowSoftInputMode="adjustUnspecified">
        </activity>
        <activity android:name=".activity.KeFuCenterActivity">
        </activity>
        <activity android:name=".activity.WeiXinKeFuActivity">
        </activity>
        <activity android:name=".activity.NewsNoticeActivity">
        </activity>
        <activity android:name=".activity.ShangwuActivity">
        </activity>
        <activity android:name=".activity.RenwuDetailActivity">
        </activity>
        <!--
            ATTENTION: This was auto-generated to add Google Play services to your project for
            App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".activity.WeiXinTiXianActivity">
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="578dfbb967e58eec5e002b0a">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng">
        </meta-data>
    </application>

</manifest>